{
    "damageMultiplier" : 1,
    "maxMagazine" : 30,
    
    "burst" : 3,

    "recoil" : 0,
    "recoilRecovery" : 16,
    "aimLookRatio" : 0.3,

    "movingInaccuracy" : 4,
    "standingInaccuracy" : 2,
    "crouchInaccuracyMultiplier" : 0.25,

    "burstCooldown" : 0.15,

    "muzzleFlash" : 1,
    "rpm" : 1000
}