{
    "damageMultiplier" : 1,
    "maxMagazine" : 3,
    
    "burst" : 3,

    "recoil" : 0,
    "recoilRecovery" : 16,
    "aimLookRatio" : 0,

    "movingInaccuracy" : 1,
    "standingInaccuracy" : 0.5,
    "crouchInaccuracyMultiplier" : 0.25,

    "burstCooldown" : 0.2,

    "muzzleFlash" : 1,
    "rpm" : 120
}